.scroll-track {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: max-content; /* ensures it grows based on children */
  animation-duration: 5500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  will-change: transform;
}

.paused {
  animation-play-state: paused !important;
}

.scroll-left {
  animation-name: scroll-left;
}

.scroll-right {
  animation-name: scroll-right;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0);
  }
}

.image-item {
  max-width: none !important;
}
