/* styles/globals.css or any module */
.rfm-marquee-container {
  --pause-on-hover: paused;
  --pause-on-click: paused;
  --transform: none;
}



/* @keyframes marqueeLeft {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  @keyframes marqueeRight {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  .marquee-left {
    animation: marqueeLeft 80s linear infinite;
  }
  
  .marquee-right {
    animation: marqueeRight 80s linear infinite;
  }
  
  .pause-marquee {
    animation-play-state: paused !important;
  } */
  


  
  
  